.mountains {
  position: absolute;
  // bottom: 10vh;
  left: 36%;

  // @media screen and (max-width: 1440px) {
  //   left: 42%;
  // }
  // @media screen and (max-width: 1199.98px) {
  //   top: -50%;
  //   left: 28%;
  // }
  // @media screen and (max-width: 991.98px) {
  //   top: -40%;
  //   left: 10%;
  // }
  // @media screen and (max-width: 575.98px) {
  //   top: -30%;
  //   left: 4em;
  // }
}

.hobbies {
  position: relative;

  // @media screen and (max-width: 1199.98px) {
  //   top: 10em;
  // }
  // @media screen and (max-width: 991.98px) {
  //   top: 3em;
  // }
  // @media screen and (max-width: 767.98px) {
  //   top: 18em;
  // }
  // @media screen and (max-width: 575.98px) {
  //   top: 10em;
  // }

  &__content {
    top: 24%;

    padding-bottom: 10em;

    background: linear-gradient(180deg, #45B888 0%, #40A479 21.57%, #00565A 108.2%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 575.98px) {
      top: 20%;
      width: 100vw;
    }
  }

  &__title {
    text-align: center;
    font: 44px/1.2 "Poppins", Helvetica, Arial, serif;
    color: #232932;
    padding-top: 3em;
    
    & > span {
      font-weight: 900;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: minmax(100px, auto);
    gap: 32px;

    justify-content: center;
    align-items: center;
    padding: 3em;
    margin-top: 64px;

    &__card {
      width: 300px;
      margin: auto;
      height: 450px;
 
      background: #222831;
      mix-blend-mode: normal;
      box-shadow: -6px 12px 16px rgba(5, 5, 5, 0.14);
      border-radius: 50px;
      box-shadow: inset 0px -21px 21px rgba(0, 0, 0, 0.44);
      border-radius: 50px;

      &__img {
        .innerShadow {
          -webkit-box-shadow: inset 0px 7px 62px -2px rgba(0, 0, 0, 0.49);
          -moz-box-shadow: inset 0px 7px 62px -2px rgba(0, 0, 0, 0.49);
          box-shadow: inset 0px 7px 62px -2px rgba(0, 0, 0, 0.49);
          border-radius: 38px 40px 0px 0px;

          cursor: pointer;
        }
      }
      
      &__selection {
        display: flex;
        margin: 0.5em;
        justify-content: center;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        
        div {
          position: relative;
          display: inline-block;

          background: #01ADB6;
          border: 1px solid #263645;
          border-radius: 4px;

          box-shadow: inset 0px -3px 4px rgba(0, 0, 0, 0.25);

          cursor: pointer;
        }
        
        &__selected {
          width: 60px;
          height: 20px;
        }
        &__not-selected {
          width: 20px;
          height: 20px;
        }
      }

      &__body {
        padding: 32px;
      }
    }
  }
}
