.model {
  position: absolute;
  
  height: 100vh;
  width: 100vw;
  
  top: 0px;
  left: 0px;
}

.left-desc {
  padding: 15rem 4.8rem 0 4.8rem;
  height: 100vh;

  position: relative;
  z-index: 9;
  
  &__about-desc {
    font-size: 0.35em;
    line-height: 1.1;
  }
  
  &__desc {
    font: 44px/1.2 "Poppins", Helvetica, Arial, serif;
    font-style: normal;
    font-weight: normal;
    line-height: 71px;
  
    letter-spacing: 0px;
    color: #EEEEEE;
  }

  &__title {
    font-size: 0.65em;
    line-height: 1.2;

    @media (max-width: 991.98px) {
      font-size: 35px;
    }
    @media (max-width: 767.98px) {
      font-size: 21px;
    }
  }

  &__work-title {
    overflow: visible;
  
    @media (max-width: 1199.98px) {
      font-size: 51px;
    }
    @media (max-width: 991.98px) {
      font-size: 49px;
    }
    @media (max-width: 767.98px) {
      font-size: 45px;
    }
    @media (max-width: 575.98px) {
      margin-top: 16px;
      font-size: 34px;
      line-height: 31px;
    }
  }

  &__download-resume-btn {  
    margin-top: 15px;
    padding: 0.5em 32px;
    letter-spacing: '0px';
  
    border: 3px solid #00ADB5;
    box-sizing: border-box;
    border-radius: 43px;
    
    font-family: 700 16px/1.2 "Poppins";
    font-weight: bold;
    line-height: 31px;
  
    color: #00ADB5;
  
    @media (max-width: 991.98px) {
      font-size: 1.2rem;
    }
    @media (max-width: 767.98px) {
      font-size: 1rem;
    }
  }
}
