html {
  color: rgb(239,239,239);
  overflow-x: hidden;

  background: linear-gradient(147.58deg, #232932 22.47%, #263645 66.21%, #105A5E 104.48%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content {  
  @media (max-width: 575.98px) {
    padding: 0 4.8rem;
  }
  @media (max-height: 700px) {
    padding-top: 12vh;
  }
}

span.highlight {
  color: #00ADB5;
}

@keyframes appearFromTransparent {
  0% {
    opacity: 0%;
  }
}

.animate--appear {
  animation: 1s ease-out 0s 1 appearFromTransparent;
}

.poppins {
  font-family: "Poppins", Helvetica, Arial, serif;
}