html {
  background-color: rgb(35, 41, 50);
  color: rgb(239,239,239);
}

.descargar-cv-box {
  margin-top: 15px;
  padding: 0.5em 1.25em;
  letter-spacing: '0px';

  border: 3px solid #00ADB5;
  box-sizing: border-box;
  border-radius: 43px;
  
  font-family: 700 21px/1.2 "Poppins";
  font-weight: bold;
  font-size: 21px;
  line-height: 31px;

  color: #00ADB5;

  @media (max-width: 991.98px) {
    font-size: 1.2rem;
  }
  @media (max-width: 767.98px) {
    font-size: 1rem;
  }
}

.left-title {
  font: 38px/1.2 "Brawler", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 71px;

  letter-spacing: 0px;
  color: #EEEEEE;
}

.greetings {
  font: 38px/1.2 "Brawler", Helvetica, Arial, serif;

  @media (max-width: 991.98px) {
    font-size: 35px;
  }
  @media (max-width: 767.98px) {
    font-size: 31px;
  }
}

.presentation {
  font: 58px/1.2 "Brawler", Helvetica, Arial, serif;
  text-align: left;

  
  @media (max-width: 1199.98px) {
    font-size: 51px;
  }
  @media (max-width: 991.98px) {
    font-size: 49px;
  }
  @media (max-width: 767.98px) {
    font-size: 45px;
  }
  @media (max-width: 575.98px) {
    font-size: 44px;
  }
}
